{% extends "blog/base.html" %}
     
{% block title %}
    Announcements
{% endblock %}

{% block content %}
    {% for announcement in announcements %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ announcement.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 member-name" href="{% url 'user-posts' announcement.author.username %}">{{ announcement.author }}</a>
            <small class="text-muted">Created on {{ announcement.date_posted }}</small>
            <small class="text-muted">Last modified on {{ announcement.last_modified }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'announcement-detail' announcement.id %}">{{ announcement.title }}</a></h2>
        <p class="article-content">{{ announcement.content }}</p>
        </div>
    </article> 
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn button-outline mb-4" href="?page=1">First</a>
            <a class="btn button-outline mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn button mb-4" style="color:white">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn button-outline mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn button-outline mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn button-outline mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}